/Swastika/obj
/Swastika/bin
/TTS.Lib/obj
/TTS.Lib/bin
/TTS.Web/obj
/TTS.Web/bin
/TTS.Web/wwwroot/lib/jquery/build/release
/TTS.Web/wwwroot/lib/jquery/test
/TTS.Web/wwwroot/lib/jquery/external
/TTS.Web/wwwroot/lib/jquery/src
/TTS.Web/wwwroot/lib/jquery/.babelrc
/TTS.Web/wwwroot/lib/jquery/.bower.json
/TTS.Web/wwwroot/lib/jquery/.editorconfig
/TTS.Web/wwwroot/lib/jquery/.eslintignore
/TTS.Web/wwwroot/lib/jquery/.eslintrc.json
/TTS.Web/wwwroot/lib/jquery/.eslintrc-browser.json
/TTS.Web/wwwroot/lib/jquery/.eslintrc-node.json
/TTS.Web/wwwroot/lib/jquery/.gitattributes
/TTS.Web/wwwroot/lib/jquery/.gitignore
/TTS.Web/wwwroot/lib/jquery/.mailmap
/TTS.Web/wwwroot/lib/jquery/.npmignore
/TTS.Web/wwwroot/lib/jquery/.npmrc
/TTS.Web/wwwroot/lib/jquery/.travis.yml
/TTS.Web/wwwroot/lib/jquery/AUTHORS.txt
/TTS.Web/wwwroot/lib/jquery/bower.json
/TTS.Web/wwwroot/lib/jquery/CONTRIBUTING.md
/TTS.Web/wwwroot/lib/jquery/Gruntfile.js
/TTS.Web/wwwroot/lib/jquery/LICENSE.txt
/TTS.Web/wwwroot/lib/jquery/package.json
/TTS.Web/wwwroot/lib/jquery/README.md
/TTS.Web/wwwroot/lib/jquery/.github
/TTS.Web/wwwroot/lib/jquery/build
/.vs
/TTS.Identity/obj
/TTS.Identity/bin
/TTS.Web/wwwroot/lib/bootstrap/grunt
/TTS.Web/wwwroot/lib/bootstrap/js
/TTS.Web/wwwroot/lib/bootstrap/less
/TTS.Web/wwwroot/lib/bootstrap/nuget
/TTS.Web/wwwroot/lib/bootstrap/.bower.json
/TTS.Web/wwwroot/lib/bootstrap/bower.json
/TTS.Web/wwwroot/lib/bootstrap/CHANGELOG.md
/TTS.Web/wwwroot/lib/bootstrap/Gemfile
/TTS.Web/wwwroot/lib/bootstrap/Gemfile.lock
/TTS.Web/wwwroot/lib/bootstrap/Gruntfile.js
/TTS.Web/wwwroot/lib/bootstrap/ISSUE_TEMPLATE.md
/TTS.Web/wwwroot/lib/bootstrap/LICENSE
/TTS.Web/wwwroot/lib/bootstrap/package.js
/TTS.Web/wwwroot/lib/bootstrap/package.json
/TTS.Web/wwwroot/lib/bootstrap/README.md
/TTS.Web/wwwroot/lib/bootstrap/fonts
/TTS.Web/wwwroot/lib/font-awesome/.bower.json
/TTS.Web/wwwroot/lib/font-awesome/.gitignore
/TTS.Web/wwwroot/lib/font-awesome/.npmignore
/TTS.Web/wwwroot/lib/font-awesome/bower.json
/TTS.Web/wwwroot/lib/font-awesome/HELP-US-OUT.txt
/TTS.Web/wwwroot/lib/font-awesome/less
/TTS.Web/wwwroot/lib/font-awesome/scss
/TTS.Web/wwwroot/lib/jQuery/test
/TTS.Web/wwwroot/lib/jQuery/.babelrc
/TTS.Web/wwwroot/lib/jQuery/.bower.json
/TTS.Web/wwwroot/lib/jQuery/.editorconfig
/TTS.Web/wwwroot/lib/jQuery/.eslintignore
/TTS.Web/wwwroot/lib/jQuery/.eslintrc.json
/TTS.Web/wwwroot/lib/jQuery/.eslintrc-browser.json
/TTS.Web/wwwroot/lib/jQuery/.eslintrc-node.json
/TTS.Web/wwwroot/lib/jQuery/.gitattributes
/TTS.Web/wwwroot/lib/jQuery/.gitignore
/TTS.Web/wwwroot/lib/jQuery/.mailmap
/TTS.Web/wwwroot/lib/jQuery/.npmignore
/TTS.Web/wwwroot/lib/jQuery/.npmrc
/TTS.Web/wwwroot/lib/jQuery/.travis.yml
/TTS.Web/wwwroot/lib/jQuery/AUTHORS.txt
/TTS.Web/wwwroot/lib/jQuery/CONTRIBUTING.md
/TTS.Web/wwwroot/lib/jQuery/Gruntfile.js
/TTS.Web/wwwroot/lib/jQuery/LICENSE.txt
/TTS.Web/wwwroot/lib/jQuery/package.json
/TTS.Web/wwwroot/lib/jQuery/README.md
/TTS.Web/wwwroot/lib/jQuery/.github
/TTS.Web/wwwroot/lib/jQuery/build
/TTS.Web/wwwroot/lib/jQuery/external
/TTS.Web/wwwroot/lib/jQuery/src
/TTS.Web/wwwroot/lib/jQuery-File-Upload-9.18.0
/TTS.Web/wwwroot/lib/tether/bower.json
/TTS.Web/wwwroot/lib/tether/CHANGELOG.md
/TTS.Web/wwwroot/lib/tether/component.json
/TTS.Web/wwwroot/lib/tether/CONTRIBUTING.md
/TTS.Web/wwwroot/lib/tether/gulpfile.js
/TTS.Web/wwwroot/lib/tether/LICENSE
/TTS.Web/wwwroot/lib/tether/package.json
/TTS.Web/wwwroot/lib/tether/README.md
/TTS.Web/wwwroot/lib/tether/docs
/TTS.Web/wwwroot/lib/tether/examples
/TTS.Web/wwwroot/lib/tether/src
/TTS.Web/wwwroot/lib/tether/.bower.json
/TTS.Web/wwwroot/lib/jQuery-File-Upload-master.zip
/TTS.Web/wwwroot/lib/jQuery-File-Upload-9.18.0.zip
/TTS.Web/wwwroot/lib
/TTS.Web/Themes
/src/Swastika/bin
/src/Swastika/obj
/src/Swastika.IO/bin/Debug/netstandard2.0/Swastika.IO.deps.json
/src/Swastika.IO/bin/Debug/netstandard2.0/Swastika.IO.dll
/src/Swastika.IO/bin/Debug/netstandard2.0/Swastika.IO.pdb
/src/Swastika.IO/obj/Debug/netstandard2.0/Swastika.IO.AssemblyInfo.cs
/src/Swastika.IO/obj/Debug/netstandard2.0/Swastika.IO.AssemblyInfoInputs.cache
/src/Swastika.IO/obj/Debug/netstandard2.0/Swastika.IO.csproj.CoreCompileInputs.cache
/src/Swastika.IO/obj/Debug/netstandard2.0/Swastika.IO.csproj.FileListAbsolute.txt
/src/Swastika.IO/obj/Debug/netstandard2.0/Swastika.IO.dll
/src/Swastika.IO/obj/Debug/netstandard2.0/Swastika.IO.pdb
/src/Swastika.IO/obj/Swastika.IO.csproj.nuget.cache
/src/Swastika.IO/obj/Swastika.IO.csproj.nuget.g.props
/src/Swastika.IO/obj/Swastika.IO.csproj.nuget.g.targets
/src/Swastika.IO/obj/project.assets.json
/src/Swastika.IO/bin/Debug/netstandard2.0/Swastika.IO.deps.json
/src/Swastika.IO/bin/Debug/netstandard2.0/Swastika.IO.dll
/src/Swastika.IO/bin/Debug/netstandard2.0/Swastika.IO.pdb
/src/Swastika.IO/obj/Debug/netstandard2.0/Swastika.IO.csproj.CoreCompileInputs.cache
/src/Swastika.IO/obj/Debug/netstandard2.0/Swastika.IO.csproj.FileListAbsolute.txt
/src/Swastika.IO/obj/Debug/netstandard2.0/Swastika.IO.csprojResolveAssemblyReference.cache
/src/Swastika.IO/obj/Debug/netstandard2.0/Swastika.IO.dll
/src/Swastika.IO/obj/Debug/netstandard2.0/Swastika.IO.pdb
/src/Swastika.IO/obj/Swastika.IO.csproj.nuget.cache
/src/Swastika.IO/obj/Swastika.IO.csproj.nuget.g.props
/src/Swastika.IO/obj/Swastika.IO.csproj.nuget.g.targets
/src/Swastika.IO/obj/project.assets.json
/src/Swastika.IO.Framework/Swastika.IO/obj
/src/Swastika.IO.Framework/Swastika.IO/bin
/src/Swastika.IO/obj
/src/Swastika.IO/bin
